.projectObjectWrapper {
    width: 23%;
    display: flex;
    flex-direction: row;
    border-right: 1px solid #979797;
    margin-right: 2%;
    margin-bottom : 40px
}

.imgSize {
    width: 100px;
    height: 100px;
    margin-right: 9px;
}

.finishedIconStyled {
    width: 48px;
    height: 22px;
    margin-top: 44px ;
}

.projectFont {
    font-family: NotoSansCJKkr;
    font-size: 1rem;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: normal;
    color: #111111;
}
.projectName {
    font-weight: bold;
}
