.mainWrapper{
    margin:0px;
    padding: 0px;
    height:100vh;
    width:100vw;
}

.top {
    /*background image 설정*/
    width:100vw;
    height: 62.5vh;
    background-image:url("../img/group-5@3x.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.bottom {
    margin-top:5.599vh;
}

.bottomProjectListNull {
    font-family: NotoSansCJKkr;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: -0.13px;
    text-align: center;
    color: #9a9a9a;
    margin-top:100px;
}

.nav {
    width:100%;
    height:9.635vh;
    font-size:1rem;
    padding-left:3.72vw;
    padding-right:3.75vw;
    display:flex;
}

.nav-left {
    flex :1;
}

.mainLogo {
    width: 11.667vw;
    height: 5.859vh;
    object-fit: contain;
    margin-top: 3.776vh;

}

.nav-right {
    flex :1;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    padding-top: 4.688vh;
}

.mainInfo {
    margin-top:11.068vh;
    padding-left:7.583vw;
    width: 63.583vw;
    height: 27.214vh;
    object-fit: contain;
}



.bigInfo-font {
    font-family: 'NotoSansCJKkr';
    font-size: 5.286rem;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.17;
    letter-spacing: -1.8px;
    color: #000000;
}

.smallInfo-font {
    font-family: 'NotoSansCJKkr';
    font-size: 1rem;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: -0.1px;
    color: #000000;
}

.goToProject {
    font-size: 14px;
    color : #111111;
    position: fixed;
    bottom: 10px;
}

