.completeWrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: rgba(0,0,0, 0.5);
}

.topStyled {
    width: 100%;
    height: 10px;
    background-image: linear-gradient(to right, #5ae0ff, #c86dd7);
}

.completeFrame {
    position: absolute;
    left: 25%;
    right: 25%;
    top: 25%;
    bottom: 25%;
    margin: auto;
    width: 57.58333333333333vw;
    height: 77.21354166666666vh;
    border-radius: 5px;
    box-shadow: 1px 5px 9px 3px rgba(0, 0, 0, 0.09);
    background-color: #ffffff;
    z-index: 1;
    padding:34px 58px 37px 57px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.completePopupTitle {
    width: fit-content;
    font-family: NotoSansCJKkr;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.9px;
    text-align: center;
    color: #b382de;
    border-bottom: 1px solid #b382de;
    margin-bottom: 3.2552083333333335vh;
}

.completePopupInfo{
    font-family: NotoSansCJKkr;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    text-align: center;
    color: #555555;
    margin-bottom: 4.947916666666666vh;
}

.completePopupInputUrlBox {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    border: solid 1px #b6b6b6;
    background-color: #ffffff;
    display: flex;

    padding:9px 21px 9px 21px;
}


.inputStyled {
    width: 100%;
    height: auto;
    border: none;
}

.inputStyled::placeholder {
    text-align: start;
    font-family: NotoSansCJKkr;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    color: #8b8b8b;

}


.intro-img-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 15px;
    margin-bottom : 15px;
}

.intro-wrapper {
    width:36vw;
}

.intro-title {
    font-family: NotoSansCJKkr;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    color: #000000;
    margin-bottom: 14px;
}

.img-wrapper {
    flex: 1;
    padding-left: 30px;
}

.img-title {
    font-family: NotoSansCJKkr;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    color: #000000;
    margin-bottom: 14px;
}

.intro-textarea {
    width: 100%;
    height: 14.84375vh;
    border-radius: 20px;
    border: solid 1px #b6b6b6;
    background-color: #ffffff;
    padding-left: 1.9166666666666665vw;
    padding-top: 2.994791666666667vh;
    padding-right: 1.9166666666666665vw;
    padding-bottom: 2.994791666666667vh;
}

.intro-textarea:focus {
    outline: none;
}

textArea::placeholder {
    font-family: NotoSansCJKkr;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    color: #8b8b8b;
}

.img-add-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 9.5vw;
    height: 14.84375vh;
    border-radius: 20px;
    border: solid 1px #b6b6b6;
    background-color: #ffffff;
}

.img-add {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

.img-loaded {
    width: 9.5vw;
    height: 14.84375vh;
    object-fit: contain;
    border-radius: 20px;
}

.portfo-launching-wrapper {
    display: flex;
    width: 100%;
}

.portfo-wrapper {
    flex:2;
}

.portfo-title {
    font-family: NotoSansCJKkr;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    color: #000000;
    margin-bottom: 14px;
}

.portfo-input-file-wrapper{
    width: 100%;
    height: 40px;
    border-radius: 20px;
    border: solid 1px #b6b6b6;
    background-color: #ffffff;
    padding-left: 21px;
    display: flex;
    padding-top: 9px;
    padding-bottom: 11px;
}

.portfo-input-file {
    flex:10;

}

.input-for-file {
    font-family: NotoSansCJKkr;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    color: #8b8b8b;
}

.portfo-preview {
    flex: 2;
}

.launching-wrapper {
    margin-left: 26px;
    flex: 1;
}

.launching-title {
    font-family: NotoSansCJKkr;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    color: #000000;
    margin-bottom: 14px;
}

.launching-frame {
    width: 100%;
    height: 40px;
    border-radius: 20px;
    border: solid 1px #b6b6b6;
    background-color: #ffffff;
    display: flex;
}





.img-in-complete{
    visibility: hidden;
}

.submit-button-complete {
    width: 348px;
    height: 65px;
    border-radius: 32.5px;
    box-shadow: 0 10px 15px 3px rgba(0, 0, 0, 0.03);
    background-image: linear-gradient(100deg, #5ae0ff, #c86dd7);
    margin-top: 37px;
}

.complete-submit-check {
    width: 31.1px;
    height: 33px;
    object-fit: contain;
}