@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,900');


.CreateWrapper {
    margin-left: 170px;
    width: 505px;
    height: 515px;
    border-radius: 5px;
    box-shadow: 1px 5px 9px 3px rgba(0, 0, 0, 0.03);
    background-color: #ffffff;
}

.header {
    display : flex;
    justify-content: flex-end;
    align-items: center;
    color: #b6b6b6;
    font-size: 25px;
    padding:30px 30px 0px 0px;
}

.headerTitle {
    width: 226px;
    height: 45px;
    font-family: NotoSansCJKkr;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.9px;
    text-align: center;
    color: #b382de;
    margin:45px 140px 0px 139px;
}

.middle{
    width: 372px;
    height: 18px;
    font-family: NotoSansCJKkr;
    font-size: 13px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    text-align: center;
    color: #999999;
    margin:33px 67px 0px 66px;
}

.selectBox {
    width: 114px;
    height: 33px;
    border-radius: 20px;
    border: solid 1px #b6b6b6;
    background-color: #ffffff;
}

.selectBoxText {
    width: 63px;
    height: 18px;
    font-family: NotoSansCJKkr;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    color: #999999;
}

.projectNameTextField {
    width: 340px;
    height: 40px;
    border-radius: 20px;
    border: solid 1px #b6b6b6;
    background-color: #ffffff;
    margin: 10px 0px 10px 3px;
    padding:15px;
    color: #4f4f4f;
}

input::placeholder {
    width: 105.8px;
    height: 18px;
    font-family: NotoSansCJKkr;
    font-size: 12px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    color: #999999;
}


.platformWrapper {
    display : flex;
    flex-direction: row;
}

.platformButtonWapper {
    flex : 1;
    height: 33px;
    border-radius: 20px;
    background-color: #ffffff;
    margin : 0 5px 0 5px;
}

.platformButton {
    height: 18px;
    font-family: NotoSansCJKkr;
    font-size: 12px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    text-align: center;
    color: #999999;
    margin-top:4px;

}

.platformButtonNoneSelected {
    border: solid 1px #b6b6b6;
}

.platformButtonNoneSelectedFont {
    font-weight: 300;
    color:#999999;
}

.platformButtonSelected {
    border: solid 2px #b382de;
}

.platformButtonSelectedFont {
    font-weight: bold;
    color:#b382de;
}




.inviteCodeInfo {
    width: 159px;
    height: 12px;
    font-family: NotoSansCJKkr;
    font-size: 8px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    color: #999999;
    margin:25px 0px 7px 5px;
}

.inviteCodeWrapper {
    display : flex;
    justify-content: flex-start;
    align-items: center;
    width: 143px;
}

.inviteCode {
    margin : 0 5px 0 5px;
    flex : 1;
    width: 32px;
    height: 40px;
    border-radius: 12px;
    border: solid 1px #b6b6b6;
    background-color: #ffffff;
    text-align: center;
    color: #4f4f4f;
}

.textAlignCenter {
    display:flex;
    justify-content: center;
    align-items: center;
}


.formWrapper {
    margin:36px 85px 0px 73px;
}

.submitButton {
    width: 505px;
    height: 65px;
    border-radius: 32.5px;
    box-shadow: 0 10px 15px 3px rgba(0, 0, 0, 0.03);
    background-image: linear-gradient(97deg, #5ae0ff, #c86dd7);
    margin-top: 39px;
}

.fontInSubmitButton {
    font-size:20px;
    color: #fafafa;
}


.CreateNewProject {
    width: 91px;
    height: 18px;
    font-family: NotoSansCJKkr;
    font-size: 12px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.4px;
    text-align: center;
    color: #b382de;
    border-bottom:2px solid #b382de;
    margin:5px 27.5px 0px 0px;
}