@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,900');

.joinPopupMainWrapper {
    width: 505px;
    height: 409px;
    border-radius: 5px;
    box-shadow: 1px 5px 9px 3px rgba(0, 0, 0, 0.09);
    background-color: #ffffff;
    display : flex;
    align-items: center;
    flex-direction: column;
    padding : 26px 26px 26px 42px;
}

.joinHeader {
    width:100%;
    display: flex;
    justify-content: flex-end;
}

.styledJoinCloseIcon {
    width: 24px;
    height: 24px;
    opacity: 0.5;
}

.joinTitle {
    font-family: NotoSansCJKkr;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.9px;
    text-align: center;
    color: #b382de;

    padding-bottom: 3px;
    border-bottom : 2px solid #b382de;
    margin-bottom: 29px;
}

.joinContent {
    font-family: NotoSansCJKkr;
    font-size: 1rem;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    text-align: center;
    color: #555555;
}

.alignedCenterForm {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top : 36px;
}

.codeNoticeWord {
    font-family: NotoSansCJKkr;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    color: #8b8b8b;
}

.inputBoxesStyled {
    margin-top: 9px;
    margin-bottom : 8px;
}

.joinInviteCode {
    width: 32px;
    height: 35px;
    border-radius: 10px;
    border: solid 1px #b6b6b6;
    background-color: #ffffff;
    margin-right: 15px;
    text-align: center;
}

.joinCaution {
    font-family: NotoSansCJKkr;
    font-size: 1rem;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    color: #ff0000;
}

.submitButtonInJoin {
    width: 348px;
    height: 65px;
    border-radius: 32.5px;
    box-shadow: 0 10px 15px 3px rgba(0, 0, 0, 0.03);
    background-image: linear-gradient(100deg, #5ae0ff, #c86dd7);

    display:flex;
    justify-content: center;
    align-items: center;

    margin-top:44px;
}