.backgroundMemberInfoWrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.memberInfoWrapper {
    position: absolute;
    right: 4%;
    top: 10.546875vh;
    margin: auto;
    width: 280px;
    height: auto;
    border-radius: 5px;
    box-shadow: 1px 5px 9px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    z-index: 1;
    padding: 16px 15px 13px 22px;
}

.memberInfoWrapperTitle {
    font-family: NotoSansCJKkr;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.4px;
    color: #696969;
    margin-bottom : 18px
}

.logoutWrapper {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;

}


.logoutButton {
    width: 95px;
    height: 30px;
    object-fit: contain;
}

.joinList {
    border-bottom: 1px solid #F8F8F8;
    padding-bottom: 11px;
    margin-bottom: 11px;
}

.joinObjectWrapper {
    margin-bottom: 5px;
}

.joinObject {
    font-family: NotoSansCJKkr;
    font-size: 1rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #111111;
}

.moveBtnStyled {
    width: 0.7rem;
    height: 0.7rem;
    object-fit: contain;
}

.mr-3 {
    margin-right: 25px;
}