.memberInfoWrapper {
    position: absolute;
    right: 4%;
    top: 10.546875vh;
    margin: auto;
    width: 280px;
    height: auto;
    border-radius: 5px;
    box-shadow: 1px 5px 9px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    padding: 16px 15px 13px 22px;
}

.memberInfoWrapper:focus {outline : none}

.memberInfoWrapperTitle {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.4px;
    color: #696969;
    margin-bottom : 18px
}

.logoutWrapper {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    width: 100%;

}


.logoutButton {
    width: 95px;
    height: 30px;
    object-fit: contain;
}

.joinList {
    border-bottom: 1px solid #F8F8F8;
    padding-bottom: 11px;
    margin-bottom: 11px;
}

.joinObjectWrapper {
    margin-bottom: 10px;
    display: flex;
}


.joinObjectGisu {
    flex : 1;
    text-align: center;
    padding-right: 10px;
    border-right: 1px solid #111111;

    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #111111;
}

.joinObjectTitle {
    flex : 5;
    border-right: 1px solid #111111;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #111111;
}

.joinObjectPlatform {
    flex : 2;
    text-align: center;
    padding: 0px 0px 0px 10px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #111111;
}

.joinObjectBtn {
    flex : 1;
    text-align: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #111111;
}

.moveBtnStyled {
    width: 0.7rem;
    height: 0.7rem;
    object-fit: contain;
}


.alignCenterNoJoin {
    display : flex;
    align-content: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.4px;
    color: #a9a9a9;
}