

.otherPopupInvisible {
    visibility: hidden;
}

.otherWrapper {
    position: absolute;
    right: 4%;
    top: 10.546875vh;
    margin: auto;
    width: 223px;
    height: auto;
    border-radius: 5px;
    box-shadow: 1px 5px 9px 0 rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
    padding: 16px 23px 21px 25px;
}

.otherWrapper:focus { outline : none }

.otherTitle {
    font-family: NotoSansCJKkr;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.4px;
    color: #696969;
}

.otherContentList {
    border-bottom: 1px solid #F8F8F8;
    padding-top : 18px;
    padding-bottom: 11px;

}

.moveIcon {
    width: 0.7rem;
    height: 0.7rem;
    object-fit: contain;
    margin-left: 9px;
}

.openCompleteProject {
    margin-bottom: 5px;
    font-family: NotoSansCJKkr;
    font-size: 1rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #111111;
}


.openJoinProject {
    font-family: NotoSansCJKkr;
    font-size: 1rem;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #111111;
}

.otherBottom {
    font-family: NotoSansCJKkr;
    font-size: 1rem;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.07;
    letter-spacing: -0.5px;
    color: #999999;
    text-align: center;
    padding-top: 18px;
}

.urlOfThisPage {

}

.copyUrl {
    margin-left : 0.5rem;
    font-weight: bold;
    color: #b382de;
}