.insertProgramFormWrapper {
    display: flex;
    margin-bottom: 25px;
}

.insertToolName {
    width: 14.166666666666666vw;
    height: 5.208333333333334vh;
    border-radius: 20.5px;
    border: solid 0.5px #5b5b5b;
    background-color: #ffffff;
    margin-right:20px;
    text-align: center;
}

.insertUrl {
    width: 50vw;
    height: 5.208333333333334vh;
    border-radius: 20.5px;
    border: solid 0.5px #5b5b5b;
    background-color: #ffffff;
    margin-right: 1.1666666666666667vw;
    text-align: center;
}

input::placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: -0.1px;
    color: #999999;
}

.submitButtonStyled {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.buttonStyled {
    border: 0;
    background:none;
}