.insertUrlWrapper {
    display: flex;
}

.selectBox {
    width : 14.166666666666666vw;
    height: 5.208333333333334vh;
    border-radius: 20.5px;
    border: solid 0.5px #5b5b5b;
    background-color: #ffffff;
    font-family: NotoSansCJKkr;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: -0.1px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.taskTitle {
    width: 14.166666666666666vw;
    height: 5.208333333333334vh;
    border-radius: 20.5px;
    border: solid 0.5px #5b5b5b;
    background-color: #ffffff;
    text-align: center;
    margin:0px 15px 0px 15px;
}

input::placeholder {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: NotoSansCJKkr;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: -0.1px;
    color: #999999;
}

.insertUrl1 {
    width: 35vw;
    height: 5.208333333333334vh;
    border-radius: 20.5px;
    border: solid 0.5px #5b5b5b;
    background-color: #ffffff;
    font-family: NotoSansCJKkr;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.57;
    letter-spacing: -0.1px;
    text-align: center;
    margin:0px 15px 0px 0px;
}


.submitButtonStyled {
    width: 3.3vw;
    height: 5.208333333333334vh;
}

.buttonStyled {
    padding: 0;
    border: 0;
}