.usedProgramWrapper {
    margin-top:31px;
    border-bottom: solid 0.5px #dfdfdf;
}

.usedProgramTitle {
    font-family: NotoSansCJKkr;
    font-size: 16pt;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: -0.1px;
    color: #4e4e4e;
    margin-right: 85px;
}

.flexboxInUsedProgram {
    display: flex;
    height:192px;
    margin-bottom: 37px;
}

.thisContentWrapper {
    display: flex;
    flex-direction: column;
}

.programItemAlign {
    display: flex;
    flex-wrap: wrap;
}

.non-member-notice {
    margin-top: 53.6px;
    font-family: NotoSansCJKkr;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.38;
    letter-spacing: -0.1px;
    text-align: center;
    color: #9a9a9a;
}