@import url('https://fonts.googleapis.com/css?family=Noto+Sans+KR:300,900');

.navbar{
    margin:0px 45px 0px 45px;
    height:75px;
    padding-top:30px;
    padding-bottom:14px;
    display:flex;
    flex-direction:row;
}

.left{
    flex:1;

}

.right{
    display:flex;
    justify-content: flex-end;
    align-items: center;
    flex:1;
    padding-right:50px;
}

.YAPPIAN-Copy {
    width: 140px;
    height: 45px;
    object-fit: contain;
    font-family: NotoSansCJKkr;
    font-size: 30px;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.3px;
    color: #ffffff;
}


.center{
    display:flex;
    justify-content: center;
    align-content: center;
}

.flex1{
    display:flex;
    flex-flow: column;
}

.googleLogo{
    display:flex;
    flex-flow: row;
    justify-content: center;
    align-content: center;
    margin-bottom:20px;
}

.Group {
    width: 7.917vw;
    height: 3.906vh;
    object-fit: contain;
}

.leftFlow{
    display:flex;
    flow-direction:row;
}



.userIcon{
    width: 2.417vw;
    height: 3.776vh;
    object-fit: contain;
    margin-left:1.250vw;
}


.CreateNewProject {
    font-size: 1.143rem;
    font-weight: 900;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.5px;
    text-align: center;
    color: #ffdb44;
    text-decoration: underline;
    display:flex;
    align-items: center;
}
/*font-family: 'Noto Sans KR', sans-serif;*/